.app {
  padding: 50px 0;
}
.app h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}
.app-form {
  width: 400px;
  padding: 10px;
}
.app-form form input {
  width: 100%;
  margin: 12px 0;
  padding: 8px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #c9c9c9;
}
.app-form form input[type="submit"] {
  cursor: pointer;
  transition: .05s;
  background-color: #ebebeb;
}
.app-form form input[type="submit"]:hover {
  background-color: #858dff;
  color: #fff;
}
